/* set the basic format of the entire website */
body {
    background-color: #71695b;
    font-family: Arial, Helvetica, sans-serif;
}

/* set the layout of the function area */
.background {
    width: 1000px;
    margin: 0 auto;
    background-color: #c6c1b8;
}

header {
    text-align: center; /* adjust text to the center position */
    position: relative; /* move other elements relative to original header */
    color: white; /* change the header's content color */
    background-image: url(../images/german-shepherd.jpg); /* add image on the header */
    background-size: 20%; /* fit the image size to the header */
    background-repeat: no-repeat; /* set the image on the header without repeating*/
    background-position: center; /* set the image on the center of website */
    height: 200px;
    background-color: #291d27;
}

/* set the h1 at the bottom of the image */
h1 {
    padding: 150px;
}

nav {
    position: relative; /* set the navigation position relative to the header */
    background: rgba(198, 193, 184, 0.7);
    padding: 10px; /* add space between h1 and h2 */
    z-index: 1; /* set navigation on the top of other elements */
}

/* set the navigation bar on the center of the website */
nav ul {
    text-align: center; 
}

nav li {
    display: inline-block; /* set the navigation elements horizontal */
    width: 300px; /* add space between home/story/contact */
    border-right: 1px solid; /* set the border box for each of nav link */
}

/* remove the right "|" element of contact */
nav li:last-child {
    border-right: none;
}

nav a {
    text-decoration: none; /* remove underline from the link */
    text-transform: uppercase; /* transform link text to the uppercase */
    color: black; /* adjust font color */
}

/* add the space between h2 and its left border*/
h2 {
    margin-left: 10px;
}

/* fit the article with border */
article {
    width: 950px;
}

p {
    /* add space between each lines */
    line-height: 40px;
    /* add space between image and paragraph */
    margin: 10px;
}

/* set width and border of image */
.box1 {
    width: 250px;
    height: 340px;
    padding: 10px;
    margin: 3px;
    float: left; /* set the image on the left side of the article */
}

/* add space between h3 and article */
h3 {
    padding: 20px 10px; 
}

/* add space between h3 and content */
.dogtime {
    padding-left: 25px;
    line-height: 40px;
}

/* clear float to reset the layout */
.facts {
    clear: both;
}

/* add space around h4 */
h4 {
    margin: 10px;
}

/* set the space and border for the contact part */
.contact {
    padding: 5px 20px 10px 15px ;
    border: 1px solid black;
    margin: 10px;
}

/* add space between name and email */
.form-name {
    margin-bottom: 15px;
}

/* element in a seperate line */
.form-name label {
    display: block;
}

.form-name input {
    width :100%;
}

.form-email {
    margin-bottom: 15px;
}

.form-email label {
    display: block;
}

.form-email input {
    width: 100%;
}

.form-message {
    margin-bottom: 15px;
}

.form-message label {
    display: block;
}

.form-message input {
    width: 100%;
}

.form-message textarea {
    resize: none; /* disable adjust the border */
    border: 1px solid;
}

.send-but {
    text-transform: uppercase;
    margin-top: 15px;
}

footer {
    position: relative; 
    bottom: 0;
    right:0;
    padding: 25px;
    margin-left: 800px;
    color: black;
}